/* line 7, ../../source/sass/screen.scss */
body {
  background: #e8e8e8;
  font-family: helvetica;
  font-size: 12px;
}
/* line 11, ../../source/sass/screen.scss */
body h1, body .h1, body h2, body .h2, body h3, body .h3, body h4, body .h4, body h5, body .h5, body h6, body .h6 {
  font-family: helvetica-bold;
}

/* line 15, ../../source/sass/screen.scss */
hr {
  color: #e8e8e8;
  border-style: solid;
  border-width: 1px;
}

/* line 20, ../../source/sass/screen.scss */
button {
  width: 140px;
  height: 60px;
  border: 1px solid;
}
/* line 24, ../../source/sass/screen.scss */
button.default {
  background-color: #f2f3f6;
  border-color: #e3e5ec;
}
/* line 28, ../../source/sass/screen.scss */
button.primary {
  background-color: #048af7;
  border-color: #047cde;
}

/* line 34, ../../source/sass/screen.scss */
.container {
  width: 340px;
  min-height: 200px;
  margin-right: auto;
  margin-left: auto;
}

/* line 42, ../../source/sass/screen.scss */
.block {
  margin: 10px 0;
  padding: 10px 20px;
}
/* line 45, ../../source/sass/screen.scss */
.block:first-child {
  padding-top: 30px;
}
/* line 46, ../../source/sass/screen.scss */
.block:last-child {
  padding-bottom: 30px;
}

/* line 48, ../../source/sass/screen.scss */
.w-cv {
  background: #fff;
}

/* line 52, ../../source/sass/screen.scss */
.w-cv_header {
  border-bottom: 1px solid #f2f3f6;
  min-height: 50px;
}

/* line 63, ../../source/sass/screen.scss */
.w-cv_table {
  padding: 0 10px;
  width: 100%;
  border: 1px solid #f2f3f6;
  border-collapse: collapse;
  margin-bottom: 20px;
}
/* line 69, ../../source/sass/screen.scss */
.w-cv_table th, .w-cv_table td {
  padding: 10px;
}
/* line 72, ../../source/sass/screen.scss */
.w-cv_table td {
  border: 1px solid #f2f3f6;
}
/* line 75, ../../source/sass/screen.scss */
.w-cv_table .table-header {
  background-color: #f2f3f6;
  color: #7b8192;
}

/* line 80, ../../source/sass/screen.scss */
.profile_pic {
  height: 40px;
  width: 40px;
  background: black;
  border-radius: 20px;
}

/* line 86, ../../source/sass/screen.scss */
.pull-left {
  float: left !important;
}

/* line 89, ../../source/sass/screen.scss */
.pull-right {
  float: right !important;
}

/* line 95, ../../source/sass/screen.scss */
.is-i-b {
  display: inline-block;
}

/* line 99, ../../source/sass/screen.scss */
.text-left {
  text-align: left;
}

/* line 102, ../../source/sass/screen.scss */
.text-right {
  text-align: right;
}

/* line 105, ../../source/sass/screen.scss */
.text-center {
  text-align: center;
}
