@import 'compass';
$font-family-base: helvetica;
$font-family-headline: helvetica-bold;
$font-size: 12px;


body {
    background: #e8e8e8;
    font-family: $font-family-base;
    font-size: $font-size;
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
        font-family: $font-family-headline;
    }
}
hr {
    color: #e8e8e8;
    border-style: solid;
    border-width: 1px;
}
button {
	width: 140px;
	height: 60px;
	border: 1px solid;
	&.default{ 
		background-color: #f2f3f6;
		border-color: darken(#f2f3f6, 5%);
	}
	&.primary{ 
		background-color: #048af7;
		border-color: darken(#048af7, 5%);
	}
}

.container {
    width: 340px;
    min-height: 200px;
    margin-right: auto;
    margin-left: auto;

    
}
.block {
	margin: 10px 0;
	padding: 10px 20px;
	&:first-child {padding-top: 30px;}
	&:last-child {padding-bottom: 30px;}
}
.w-cv {
    
    background: #fff;
}
.w-cv_header {
    border-bottom: 1px solid #f2f3f6;
    min-height: 50px;
    
}
.w-cv_body {
    
}
.w-cv_footer {
    
}
.w-cv_table {
	padding: 0 10px;
    width: 100%;
    border: 1px solid #f2f3f6;
    border-collapse: collapse;
    margin-bottom: 20px;
    th, td {
        padding: 10px;
    }
    td {
        border: 1px solid #f2f3f6;
    }
    .table-header {
        background-color: #f2f3f6;
        color: #7b8192;
    }
}
.profile_pic, .profile_info {} .profile_pic {
    height: 40px;
    width: 40px;
    background: black;
    border-radius: 20px;
}
.profile_info {} .pull-left {
    float: left!important;
}
.pull-right {
    float: right!important;
}
.row {
   
}
.is-i-b {
	display: inline-block
}

.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
